.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 64px;
  font-family: var(--font-geist-sans);
  z-index: 10;
  position: relative;
}

.searchButton {
  margin-left: 1rem;
  background-color: #6c31d6;
  border: none;
  height: 38px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.createButton {
  margin-left: 1rem;
  background-color: #0bbc8d;
  border: none;
  height: 38px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.searchButton:hover {
  opacity: 0.5;
}

.createButton:hover {
  opacity: 0.5;
}

.inputSearch {
  width: 320px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #6c31d6;
  outline: none;
}

.title {
  margin-top: 2rem;
  text-align: center;
}

.subTitle {
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
}

.cardDate {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

.cardTitle {
  max-width: 320px;
  text-align: center;
  padding: 0.5rem;
}

.cardDescription {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 320px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 80px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1080px;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.editButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #10caf0;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.deleteButton {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #dc3444;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.deleteButton:hover {
  opacity: 0.5;
}

.editButton:hover {
  opacity: 0.5;
}

.cardFooter {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cardFooter :first-child {
  margin-right: 1rem;
}

.card {
  min-width: 320px;
  min-height: 220px;
  background-color: #6d31d6;
  border-radius: 10px;
  margin-top: 1.8rem;
  margin-right: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}
